@import "tailwindcss";

@theme inline {
  --color-brand-deep: #002147;
  --color-brand-royal: #0056b3;
  --color-brand-bright: #007bff;
  --color-brand-sky: #add8e6;
  --color-brand-pale: #f0f8ff;
  --color-brand-action: #25d366;
}

@layer base {
  :root {
    --background: #f8fafc; /* Color de fondo claro por defecto */
    --foreground: #0f172a; /* Texto oscuro */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #020617; /* Fondo oscuro (slate-950) */
      --foreground: #f8fafc; /* Texto claro */
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
